<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="common/layout::meta"/>
    <meta name="keywords" th:content="${keywords}"/>
    <title th:text="'海迈BIM产品详情页 - ' + ${title}"></title>
    <th:block th:replace="common/layout::static"/>
    <th:block th:replace="common/analytics::baidu"/>
    <style secoped="secoped">
        .border-gradients{
            border-right: 1px solid #ededed!important;
            border-image: linear-gradient(-180deg, rgba(255,255,255,0.00) 0%,#ededed 50%, rgba(255,255,255,0.00) 99%) 50 50 50 50;
        }
    </style>
</head>
<body>
<!-- 头部分-->
<th:block th:replace="common/layout::header"/>

<div class="d-flex justify-content-center detail-bg">
    <div style="margin-top: 60px">
        <img class="detail-title-l"  src="/image/common/title_icon_L.png" alt="">
        <b class="detail-title">海迈BIM产品</b>
        <img class="detail-title-r" src="/image/common/title_icon_R.png" alt="">
    </div>
</div>

<div class="container detail-body">
    <p class="detail-text text-indent-2">
        海迈科技创新“互联网+BIM+大数据"的模式，将BIM技术和工程造价管理相结合，提供BIM量价一体化解决方案。方案以Autodesk Revit为基础,并根据国内实际的建模习惯和需求首创Revit配筋法输入，可在软件模型上快速提取工程量，利用本地化计算规则一键汇总工程量，快速套清单定额，与计价软件无缝对接，实现量价一体，一模多用，易学易操作。
    </p>
    <div class="text-center">
        <div class="detail-classify-title">
            系列产品
        </div>
        <div class="d-flex justify-content-center">
            <hr class="detail-line-center ">
        </div>
    </div>

    <div class="row" style="margin-top:40px;">
        <div class="col-4 border-gradients" style="padding: 70px 50px;">
            <div class="text-center">
                <img src="/image/productSystem/details/bimProduct/img1.png" alt="">
                <div class="detail-little-title" style="margin-top: 22px">海迈BIM族空间</div>
            </div>
            <div class="detail-text" style="margin-top: 11px">
                基于Revit软件的免费族库管理软件，汇聚各大专业族文件，有近万免费族，支持一键载入Revit软件，快速简单。
            </div>
        </div>
        <div class="col-4 border-gradients" style="padding: 70px 50px;">
            <div class="text-center">
                <img src="/image/productSystem/details/bimProduct/img2.png" alt="">
                <div class="detail-little-title" style="margin-top: 22px">海迈BIM建模(土建)</div>
            </div>
            <div class="detail-text" style="margin-top: 11px">
                基于Revit软件的土建快速建模软件，全面支持各种异型结构识别和转化，集成模型深化、调整等辅助功能。
            </div>
        </div>
        <div class="col-4" style="padding: 70px 50px;">
            <div class="text-center">
                <img src="/image/productSystem/details/bimProduct/img3.png" alt="">
                <div class="detail-little-title" style="margin-top: 22px">海迈BIM建模(机电)</div>
            </div>
            <div class="detail-text" style="margin-top: 11px">
                基于Revit软件的机电快速建模软件，全面支持各种形式的管道连接，一键优化机电模型的管道翻弯、登高。
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:40px;">
        <div class="col-4 border-gradients" style="padding: 70px 50px;">
            <div class="text-center">
                <img src="/image/productSystem/details/bimProduct/img4.png" alt="">
                <div class="detail-little-title" style="margin-top: 22px">海迈BIM建模(施工)</div>
            </div>
            <div class="detail-text" style="margin-top: 11px">
                基于Revit软件的场地布置快速建模软件，可自动生成道路，一键布置路口，砌体排砖、用砖量统计一步搞定，全面支持安全文明检查。
            </div>
        </div>
        <div class="col-4 border-gradients" style="padding: 70px 50px;">
            <div class="text-center">
                <img src="/image/productSystem/details/bimProduct/img5.png" alt="">
                <div class="detail-little-title" style="margin-top: 22px">海迈BIM算量(土建)</div>
            </div>
            <div class="detail-text" style="margin-top: 11px">
                基于BIM的土建钢筋一体化算量软件，支持全国清单和定额计算规则，一键创建房间和房间装修，实时查看构件钢筋三维和工程量。
            </div>
        </div>
        <div class="col-4" style="padding: 70px 50px;">
            <div class="text-center">
                <img src="/image/productSystem/details/bimProduct/img6.png" alt="">
                <div class="detail-little-title" style="margin-top: 22px">海迈BIM算量(机电)</div>
            </div>
            <div class="detail-text" style="margin-top: 11px">
                一键套清单和定额、一键汇总计算工程量，快速准确；选中构件即可查看构件工程量；无缝对接海迈BIM计价软件。
            </div>
        </div>
    </div>

    <div class="row" style="margin-top:40px;">
        <div class="col-4 border-gradients" style="padding: 70px 50px;">
            <div class="text-center">
                <img src="/image/productSystem/details/bimProduct/img7.png" alt="">
                <div class="detail-little-title" style="margin-top: 22px">海迈BIM装饰装修</div>
            </div>
            <div class="detail-text" style="margin-top: 11px">
                海迈BIM装饰装修软件基于Revit平台开发，提供了更加便捷的房间装修建模功能，同时对装修BIM模型的建模规范进行约定，提高算量的准确性。基于装饰工程的出图规范，实现装修BIM模型快速出图，提高施工图出图效率。
            </div>
        </div>
        <div class="col-4 border-gradients" style="padding: 70px 50px;">
            <div class="text-center">
                <img src="/image/productSystem/details/bimProduct/img8.png" alt="">
                <div class="detail-little-title" style="width:328px;margin-left:-10px;margin-top: 22px">海迈BIM施工进度成本可视化管理</div>
            </div>
            <div class="detail-text" style="margin-top: 11px">
                海迈BIM施工进度成本可视化软件是基于Navisworks的进度成本可视化软件。软件能对合同价、人工合同价、机械合同价、材料合同费等成本进行多视口、可视化动态模拟。将实际施工情况和计划进度通过模型进行进度复盘，分析偏差原因，实现进度成本的精细化管理。
            </div>
        </div>
        <div class="col-4" style="padding: 70px 50px;">
            <div class="text-center">
                <img src="/image/productSystem/details/bimProduct/img9.png" alt="">
                <div class="detail-little-title" style="margin-top: 22px">海迈BIM招投标</div>
            </div>
            <div class="detail-text" style="margin-top: 11px">
                海迈BIM招投标系统把BIM技术引入建设工程招标投标过程，结合三维模型与成本、进度数据，以全新的五维视角，打造基于BIM+大数据的招标投标模式，实现建设工程招标投标智能化、信息化、可视化变革；同时，探索与GIS的对接，将建筑物与地理空间融合，助力CIM体系建设。
            </div>
        </div>
    </div>
</div>

<th:block th:replace="common/layout::rightTools"/>
<th:block th:replace="common/layout::footer"/>
</body>
</html>