<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <th:block th:replace="common/layout::meta"/>
    <meta name="keywords" th:content="${keywords}"/>
    <title th:text="'历届赛事 - ' + ${title}"></title>
    <th:block th:replace="common/layout::static"/>
    <th:block th:replace="common/analytics::baidu"/>
</head>
<body>
<!-- 头部分-->
<th:block th:replace="common/layout::header"/>

<style scoped="scoped">
    .c-title {
        font-weight: bold;
        font-size: 32px;
        color: #2a2e2e;
        letter-spacing: 1.5px;
    }

    .l-title-icon {
        width: 54px;
        height: 16px;
        margin-top: 25px;
        margin-right: 30px
    }

    .r-title-icon {
        width: 54px;
        height: 16px;
        margin-top: 30px;
        margin-left: 30px
    }

    .l-title {
        float: left;
        font-size: 32px;
        color: #2a2e2e;
        letter-spacing: 1.5px;
        margin-top: 15px;
    }

    .text-font {
        font-size: 16px;
        color: #666666;
        text-align: justify
    }

    .carousel-img {
        width: 330px;
        height: 210px;
    }

    .carousel-inner {
        width: 87%;
        margin: 0 auto;
    }

    .carousel-control-prev-icon {
        background-image: url('/image/previousEvents/carousel_left_btn_icon.png');
        width: 57px;
        height: 57px;
    }

    .carousel-control-next-icon {
        background-image: url('/image/previousEvents/carousel_right_btn_icon.png');
        width: 57px;
        height: 57px;
    }

    .carousel-control-prev {
        justify-content: flex-start;
    }

    .carousel-control-next {
        justify-content: flex-end;
    }

</style>
<div>
    <img class="card-img-top" src="/image/previousEvents/previous_events_banner.png">
</div>

<div>
    <div class="container" style="margin-top: 70px;margin-bottom: 54px">
        <div class="d-flex justify-content-center">
            <img class="l-title-icon" src="/image/common/title_icon_L.png" alt="">
            <div class="c-title">海迈科技历届办赛介绍</div>
            <img class="r-title-icon" src="/image/common/title_icon_R.png" alt="">
        </div>
        <div class="text-font text-indent-2" style="margin-top: 14px;">
            <p>
                海迈科技作为省内建筑信息化龙头企业，不仅致力于将信息技术与建筑业的深度融合，推动产业要素集聚，促进数字经济发展。同时，也时刻关注着高校在建设领域人才的培养与发展，公司每年都会拨付出一部分资金，用于高校事业的支持发展，从2012年起，海迈科技联合省内高校，共举办省级高校技能竞赛七起，校级技能竞赛数十起，在办赛经验上有丰富的经验，大至数百人的同场竞赛，小至数十人的现场PK。从赛事的筹划、赛程的制定、赛事的规则、赛事的现场竞赛、赛后颁奖及宣传有着整套完整的流程计划与安排。通过多次办赛积累了许多专家、学者的资源，在竞赛考核环节，能做到高质量、高水平的评审，保证竞赛的公平，参赛作品的优质。
            </p>
            <!--<p class="text-indent-2">
                以下是海迈近几年办赛情况介绍：
            </p>-->
        </div>
    </div>

    <div style="background-color: #fafafa;">
        <div class="container" style="padding: 66px 0 100px 0">
            <div class="clearfix">
                <div class="l-title">福建省建筑信息模型（BIM）大赛</div>
                <span style="float: right;font-size: 48px">
                    <span style="color: #e6f3fe">/</span>
                    <span style="color: #abd7ff;margin-left: 12px">2018</span>
                </span>
            </div>
            <div class="text-font text-indent-2" style="margin-top: 22px">
                <p>
                    2019年1月4日，由福建省住房和城乡建设厅指导，福建省建筑信息模型BIM应用联盟、福建省勘察设计协会、福建省工程建设科学技术标准化协会主办，厦门海迈科技股份有限公司等承办的福建省首届建筑信息模型（BIM）大赛在福州落下帷幕！
                </p>
                <p>
                    赛事以2013年福建省科技重大专项专题《建设行业信息一体化软件核心技术研发及应用》研究成果为大赛技术基础，通过现场、网络技能竞赛方式，为工程建设各方主体搭建切磋技术、交流经验、提高技能的平台，加快BIM应用人才的培养，进一步提高建筑职工现代技术水平，加快普及建筑信息模型（BIM）技术，积极推动全省建筑行业信息化技术发展。
                </p>
            </div>

            <div id="carouselExampleControls8" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" style="margin-top: 50px">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            <img src="/image/previousEvents/2018/201801.jpg" class="rounded carousel-img" alt="">
                            <img src="/image/previousEvents/2018/201802.jpg" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                            <img src="/image/previousEvents/2018/201803.jpg" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="/image/previousEvents/2018/201804.jpg" class="rounded carousel-img" alt="">
                            <img src="/image/previousEvents/2018/201805.jpg" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                            <img src="/image/previousEvents/2018/201806.jpg" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls8" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls8" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 66px ;margin-bottom:100px">
        <div class="clearfix">
            <div class="l-title">第二届福建省高校建筑信息创新大赛</div>
            <span style="float: right;font-size: 48px">
                <span style="color: #e6f3fe">/</span>
                <span style="color: #abd7ff;margin-left: 12px">2017</span>
            </span>
        </div>
        <p class="text-font text-indent-2" style="margin-top: 22px">
            2017年11月10日，由福建省教育厅、福建省住房和城乡建设厅主办，厦门海迈科技股份有限公司（以下简称“海迈科技”）、福建江夏学院共同承办，福建省建筑信息模型技术应用联盟、腾讯网、福建教育电视台等协办的第二届福建省高校建筑信息创新大赛总决赛在福建江夏学院圆满落幕。大赛以“拥抱创新时代，建筑创业梦想”为主题，旨在深化高校创新创业教育改革，为建筑信息化技术应用创新选拔人才，以新一代信息和网络技术为支撑，加强技术应用、商业模式创新和在建筑设计、招标、施工和运维全过程的综合应用,推动建筑产业转型升级、提质增效和节能环保，促进平台经济、众包经济、分享经济等创新发展。赛事覆盖我省30所高校、近3000名师生报名参与，并于全省范围内展开校级选拔赛、全省总决赛，历时6个月的激烈角逐，优选BIM技术应用创新人才和商业模式，由600多个报名项目中评选出60个获奖项目进入现场决赛，实现了覆盖面更广、规模更大、影响力逐年提升的良好收效。
        </p>
        <div id="carouselExampleControls1" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="margin-top: 50px">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <img src="/image/previousEvents/2017/presentation.JPG" class="rounded carousel-img" alt="">
                        <img src="/image/previousEvents/2017/group_photo.JPG" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                        <img src="/image/previousEvents/2017/final_scene1.JPG" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="/image/previousEvents/2017/final_scene4.JPG" class="rounded carousel-img" alt="">
                        <img src="/image/previousEvents/2017/final_scene7.JPG" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                        <img src="/image/previousEvents/2017/expert_review.JPG" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls1" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls1" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div style="background-color: #fafafa;">
        <div class="container" style="padding: 66px 0 100px 0">
            <div class="clearfix">
                <div class="l-title">福建省高校建筑信息创新大赛</div>
                <span style="float: right;font-size: 48px">
                <span style="color: #e6f3fe">/</span>
                <span style="color: #abd7ff;margin-left: 12px">2016</span>
            </span>
            </div>
            <div class="text-font text-indent-2" style="margin-top: 22px">
                <p>
                    2016年10月30日，由省教育厅主办，厦门海迈科技股份有限公司、厦门理工学院、厦门软件职业技术学院共同承办的福建省高校建筑信息创新大赛在厦门落下帷幕。
                </p>
                <p>
                    大赛旨在探索高校与行业联合培养人才的新机制，深化“产学研用”融合，提高学生信息技术应用水平和创新创业能力，促进信息化技术应用创新人才的培养。大赛历时5个月，覆盖我省60多所院校，4万名建筑类、软件类等专业的学生，来自全省27所院校的53支队伍进入总决赛（本科院校队伍32支、高职院校队伍21支）的角逐。最终，大赛评出一等奖4个、二等奖6个、三等奖12个和优秀奖16个，同时还评出4个优秀创新创业导师奖、10个优秀组织奖、最佳创新奖和最具人气奖。
                </p>
            </div>

            <div id="carouselExampleControls2" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" style="margin-top: 50px">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            <img src="/image/previousEvents/2016/competition_report2.JPG" class="rounded carousel-img"
                                 alt="">
                            <img src="/image/previousEvents/2016/expert_review2.JPG" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                            <img src="/image/previousEvents/2016/final_scene3.JPG" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="/image/previousEvents/2016/media_coverage.JPG" class="rounded carousel-img" alt="">
                            <img src="/image/previousEvents/2016/presentation1.JPG" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                            <img src="/image/previousEvents/2016/presentation3.JPG" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls2" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls2" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 66px ;margin-bottom:100px">
        <div class="clearfix">
            <div class="l-title">“海西杯”高校招投标大赛</div>
            <span style="float: right;font-size: 48px">
                    <span style="color: #e6f3fe">/</span>
                    <span style="color: #abd7ff;margin-left: 12px">2015</span>
                </span>
        </div>
        <div class="text-font text-indent-2" style="margin-top: 22px">
            <p>
                2015年12月27日，由省教育厅主办，集美大学诚毅学院、厦门海迈科技股份有限公司共同承办的“海西杯”招投标大赛在集美大学诚毅学院落下帷幕。
            </p>
            <p>
                大赛以宣扬建设领域行业理论与推广实践经验、促进青年人才成长、强化建设领域人才资源建设为目的的竞赛活动。进一步加强对高等院校学生行业理论与实践经验的关注，重点提升学生的理论与实践动手能力，为培养优秀的建设领域专业人才、加强人才储备、倡导公开、公平、公正的市场竞争环境的可持续发展而继续努力。组委会通过大赛让学生认识自己未来的职业道路，切实帮助学生成功迈出走向社会的第一步。来自全省各地的30多所高校积极参赛，最终选拔27所高校的28支队伍共84名选手进入总决赛。
            </p>
        </div>
        <div id="carouselExampleControls3" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="margin-top: 50px">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <img src="/image/previousEvents/2015/201501.jpg" class="rounded carousel-img" alt="">
                        <img src="/image/previousEvents/2015/201502.jpg" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                        <img src="/image/previousEvents/2015/201503.jpg" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="/image/previousEvents/2015/201504.jpg" class="rounded carousel-img" alt="">
                        <img src="/image/previousEvents/2015/201505.jpg" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                        <img src="/image/previousEvents/2015/201506.jpg" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="d-flex justify-content-center">
                        <img src="/image/previousEvents/2015/201507.jpg" class="rounded carousel-img" alt="">
                        <img src="/image/previousEvents/2015/201508.jpg" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                        <img src="/image/previousEvents/2015/201509.jpg" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls3" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls3" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div style="background-color: #fafafa;">
        <div class="container" style="padding: 66px 0 100px 0">
            <div class="clearfix">
                <div class="l-title">“海西杯”高校招投标大赛</div>
                <span style="float: right;font-size: 48px">
                <span style="color: #e6f3fe">/</span>
                <span style="color: #abd7ff;margin-left: 12px">2014</span>
            </span>
            </div>
            <div class="text-font text-indent-2" style="margin-top: 22px">
                <p>
                    2014年12月27日，由福建省招标投标协会主办，由福建工程学院、厦门海迈科技股份有限公司承办，福建省土木建筑学会普及与教育工作委员会协办的“海西杯”招投标大赛在福建工程学院落下帷幕。
                </p>
                <p>
                    大赛进一步加强广大学生对行业理论与实践经验的关注，不断提升学生的理论与实践动手能力，进一步提高学生的实践能力、就业能力和创新能力，促进培养优秀的建设领域专业人才。共有30多所高校的代表队参加了本次大赛。
                </p>
            </div>

            <div id="carouselExampleControls4" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" style="margin-top: 50px">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            <img src="/image/previousEvents/2014/201401.jpg" class="rounded carousel-img" alt="">
                            <img src="/image/previousEvents/2014/201402.jpg" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                            <img src="/image/previousEvents/2014/201403.jpg" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="d-flex justify-content-center">
                            <img src="/image/previousEvents/2014/201404.jpg" class="rounded carousel-img" alt="">
                            <img src="/image/previousEvents/2014/201405.jpg" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                            <img src="/image/previousEvents/2014/201406.jpg" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls4" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls4" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>

    <div class="container" style="margin-top: 66px ;margin-bottom:100px">
        <div class="clearfix">
            <div class="l-title">“海西杯”高校招投标大赛</div>
            <span style="float: right;font-size: 48px">
                    <span style="color: #e6f3fe">/</span>
                    <span style="color: #abd7ff;margin-left: 12px">2013</span>
                </span>
        </div>
        <div class="text-font text-indent-2" style="margin-top: 22px">
            <p>
                2013年12月21日，由福建省招标投标协会主办，厦门海迈科技股份有限公司承办的“海西杯”高校招投标大赛在厦门理工学院土木工程学院落下帷幕。
            </p>
            <p>
                本次“海西杯”招投标大赛选拔赛阶段历时近一年，共有来自厦门理工学院、集美大学、莆田学院等九所学校近170支参赛队伍参与，约有近500名师生投入到激烈的选拔赛中。最终有7支代表队脱颖而出，参加最后的决赛。大赛的成功举办，不仅为在校学生提供了一个接触工程造价招投标实际过程的平台，也是培养应用型人才的一次成功探索和实践。
            </p>
        </div>
        <div id="carouselExampleControls5" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="margin-top: 50px">
                <div class="carousel-item active">
                    <div class="d-flex justify-content-center">
                        <img src="/image/previousEvents/2013/201301.png" class="rounded carousel-img" alt="">
                        <img src="/image/previousEvents/2013/201302.png" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                        <img src="/image/previousEvents/2013/201303.png" class="rounded carousel-img"
                             style="margin-left: 22px" alt="">
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls5" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls5" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div style="background-color: #fafafa;">
        <div class="container" style="padding: 66px 0 100px 0">
            <div class="clearfix">
                <div class="l-title">海峡杯大学生电子模拟招投标竞赛</div>
                <span style="float: right;font-size: 48px">
                <span style="color: #e6f3fe">/</span>
                <span style="color: #abd7ff;margin-left: 12px">2012</span>
            </span>
            </div>
            <div class="text-font text-indent-2" style="margin-top: 22px">
                <p>
                    2012年4月25日，“2012海峡杯大学生电子模拟招投标竞赛”颁奖仪式暨校企交流会在厦门理工学院现代工程训练中心成功举办，为20天紧锣密鼓的赛事画下一个圆满的句号。
                </p>
                <p>
                    本次竞赛共有来自厦门理工学院、集美大学工程技术学院、集美大学诚毅学院、城市职业学院的300多名学生分为80多支队伍参赛。从发布招标公告、领取招标文件、编制投标文件到开标评标，同学们始终抱以极大的热情，不辞辛苦，在学校领导的细心关怀下、指导老师的倾力指导下、工作人员的紧密配合下，顺利地完成了模拟招投标的全过程，取得了优异的成绩。
                </p>
            </div>

            <div id="carouselExampleControls6" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner" style="margin-top: 50px">
                    <div class="carousel-item active">
                        <div class="d-flex justify-content-center">
                            <img src="/image/previousEvents/2012/201201.jpg" class="rounded carousel-img" alt="">
                            <img src="/image/previousEvents/2012/201202.jpg" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                            <img src="/image/previousEvents/2012/201203.jpg" class="rounded carousel-img"
                                 style="margin-left: 22px" alt="">
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls6" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls6" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="common/layout::rightTools"/>
<th:block th:replace="common/layout::footer"/>
</body>
</html>

<script type="text/javascript">
    $(document).ready(function () {
        //设置轮播时间
        $('.carousel').carousel({
            interval: 3000
        })
    });

</script>