<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dzb.wm.mapper.DropDownBoxMapper">

	<sql id="all">
			drop_down_box_id
			,belong_page_type
			,name
			,sequ
			,push_time
	</sql>

	<select id="selectPagination" resultType="DropDownBoxEntity">
		SELECT <include refid="all" />
		FROM t_drop_down_box
		WHERE 1 = 1
		<if test="belongPageType != null and belongPageType != ''">
			and belong_page_type = #{belongPageType}
		</if>
		<if test="name != null and name != ''">
			and name like '%${name}%'
		</if>
		ORDER BY belong_page_type ASC,sequ ASC
	</select>

	<insert id="insert" parameterType="DropDownBoxEntity">
		insert into t_drop_down_box (
			drop_down_box_id
			,name
			,belong_page_type
			,sequ
			,update_userid
			,update_time
		)
		values(
			#{dropDownBoxId}
			,#{name}
			,#{belongPageType}
			,#{sequ}
			,#{updateUserid}
			,#{updateTime}
		)
	</insert>

	<delete id="del" parameterType="Long">
		delete from t_drop_down_box where drop_down_box_id = #{dropDownBoxId}
	</delete>

	<select id="getByPkey" resultType="DropDownBoxEntity">
		select <include refid="all" /> from
		t_drop_down_box where drop_down_box_id = #{dropDownBoxId}
	</select>

	<update id="update" parameterType="DropDownBoxEntity">
		update t_drop_down_box set
		name = #{name},belong_page_type = #{belongPageType},sequ = #{sequ}
		,update_userid = #{updateUserid},update_time = #{updateTime}
		where drop_down_box_id = #{dropDownBoxId}
	</update>

	<delete id="delSelectedLabel" parameterType="Long">
		delete from t_drop_down_box_label where drop_down_box_id =#{dropDownBoxId}
	</delete>

	<delete id="delSelectProduct" parameterType="Long">
		delete from t_drop_down_box_product where drop_down_box_id =#{dropDownBoxId}
	</delete>

	<insert id="batchInsertSelectedLabel">
		insert into t_drop_down_box_label (
			id
			,drop_down_box_id
			,label_id
		)
		values
		<foreach collection="dropDownBoxLabelEntityList" item="item" index="index" separator=",">
			(#{item.id},#{item.dropDownBoxId},#{item.labelId})
		</foreach>
	</insert>

	<insert id="batchInsertSelectedProduct">
		insert into t_drop_down_box_product (
		id
		,drop_down_box_id
		,product_id
		)
		values
		<foreach collection="dropDownBoxProductEntityList" item="item" index="index" separator=",">
			(#{item.id},#{item.dropDownBoxId},#{item.productId})
		</foreach>
	</insert>

	<select id="getLabelNames" parameterType="Long" resultType="String">
		SELECT  (
			SELECT GROUP_CONCAT(l.name) FROM t_drop_down_box_label dl LEFT JOIN t_label l ON dl.label_id = l.label_id WHERE dl.drop_down_box_id = d.drop_down_box_id
 		) AS labelNames FROM t_drop_down_box d where d.drop_down_box_id = #{dropDownBoxId}
	</select>

	<select id="getProductNames" parameterType="Long" resultType="String">
		SELECT  (
		SELECT GROUP_CONCAT(p.title) FROM t_drop_down_box_product ddp LEFT JOIN t_product p ON ddp.product_id = p.product_id WHERE ddp.drop_down_box_id = d.drop_down_box_id
		) AS productNames FROM t_drop_down_box d where d.drop_down_box_id = #{dropDownBoxId}
	</select>

	<update id="updateState" parameterType="DropDownBoxEntity">
		update t_drop_down_box set
		push_time = #{pushTime}
		where drop_down_box_id = #{dropDownBoxId}
	</update>
</mapper>