<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	@Description t_base_retrieve_password 表数据库操作SQL语句
	@author 38840472@qq.com
	@date 2019-01-16 11:04:43
	@version 1.0
	@remark create by ca
-->

<mapper namespace="com.dzb.console.mapper.BaseRetrievePasswordMapper">

	<!-- 
		RETRIEVE_PASSWORD_ID				varchar			#{retrievePasswordId}			找回密码编号
		USER_ID				varchar			#{userId}			用户编号
		SECURITY_CODE_CREATE_TIME				datetime			#{securityCodeCreateTime}			验证码生成时间
		SECURITY_CODE				varchar			#{securityCode}			验证码
		REMOTE_ADDRESS				varchar			#{remoteAddress}			网络地址
		AREA				varchar			#{area}			所在地区
		SECURITY_CODE_USE_TIME				datetime			#{securityCodeUseTime}			验证码使用时间
	-->

	<sql id="all">
			RETRIEVE_PASSWORD_ID
			,USER_ID
			,SECURITY_CODE_CREATE_TIME
			,SECURITY_CODE
			,REMOTE_ADDRESS
			,AREA
			,SECURITY_CODE_USE_TIME
	</sql>
	
	<select id="selectPagination" resultType="baseRetrievePasswordEntity" parameterType="baseRetrievePasswordEntity">
		select 
			<include refid="all" /> 
		from 
			t_base_retrieve_password
	</select>
	
	<select id="selectByPkey" resultType="baseRetrievePasswordEntity" parameterType="String">
		select 
			<include refid="all" />
		from 
			t_base_retrieve_password
		where 
			RETRIEVE_PASSWORD_ID = #{retrievePasswordId}
	</select>
	
	<select id="selectByUserId" resultType="BaseRetrievePasswordEntity" parameterType="String">
		select 
			<include refid="all" />
		from 
			t_base_retrieve_password
		where 
			USER_ID = #{userId}
			and SECURITY_CODE_USE_TIME is null
	</select>
	
	<insert id="insert" parameterType="baseRetrievePasswordEntity">
		insert into t_base_retrieve_password (
			RETRIEVE_PASSWORD_ID
			,USER_ID
			,SECURITY_CODE_CREATE_TIME
			,SECURITY_CODE
			,REMOTE_ADDRESS
			,AREA
			,SECURITY_CODE_USE_TIME
		) values (
			#{retrievePasswordId}
			,#{userId}
			,#{securityCodeCreateTime}
			,#{securityCode}
			,#{remoteAddress}
			,#{area}
			,#{securityCodeUseTime}
		)
	</insert>
	
	<update id="update" parameterType="baseRetrievePasswordEntity">
		update t_base_retrieve_password set 
			USER_ID = #{userId}
			,SECURITY_CODE_CREATE_TIME = #{securityCodeCreateTime}
			,SECURITY_CODE = #{securityCode}
			,REMOTE_ADDRESS = #{remoteAddress}
			,AREA = #{area}
		where
			RETRIEVE_PASSWORD_ID = #{retrievePasswordId}
	</update>
	
	<delete id="delete" parameterType="String">
		delete from t_base_retrieve_password where RETRIEVE_PASSWORD_ID = #{retrievePasswordId}
	</delete>
	
	<select id="verifySecurityCodeByUserId" resultType="String" parameterType="baseRetrievePasswordEntity">
		select 
			RETRIEVE_PASSWORD_ID
		from 
			t_base_retrieve_password
		where
			USER_ID = #{userId}
			and SECURITY_CODE = #{securityCode}
			and SECURITY_CODE_USE_TIME is null
	</select>
	
	<update id="updateSecurityCodeUseTimeByRetrievePasswordId" parameterType="baseRetrievePasswordEntity">
		update t_base_retrieve_password set 
			SECURITY_CODE_USE_TIME = #{securityCodeUseTime}
		where
			RETRIEVE_PASSWORD_ID = #{retrievePasswordId}
	</update>
	
</mapper>